@import "styles";

.login-container{
  background-color: white;
  max-width: 800px;
  max-height: 300px;
  border-radius: 20px;
  color: white;
  border: mat-color($primary) 1px solid;
}
.h-100-minus-app-bar{
  height: calc(100% - mat-get);
}
