/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; padding: 0; margin: 0; display: flex; flex-direction: column}

@import "~@angular/material/theming";

$app-primary: mat-palette($mat-indigo, A200, A100, A400);
$app-accent: mat-palette($mat-blue, A200, A100, A400);
$theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
  )
));
//更改material组件的主题
@include angular-material-theme($theme);
$color: mat-get-color-config($theme);

$primary: map-get($color, primary);
$accent: map-get($color, accent);
