<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
  <mat-form-field class="form-item-row">
    <mat-label>用户名</mat-label>
    <label>
      <input matInput type="text" [formControl]="username">
    </label>
    <button mat-button *ngIf="username.value" matSuffix mat-icon-button aria-label="Clear" (click)="username.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="form-item-row">
    <mat-label>密码</mat-label>
    <label>
      <input matInput type="text" [formControl]="password">
    </label>
    <button mat-button *ngIf="password.value" matSuffix mat-icon-button aria-label="Clear" (click)="password.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">提交</button>
</form>
