@import "styles";

.background-primary{
  background-color: mat-color($primary);
}
.form-item-row{
  width: 100%;
}
.login-container{
  height: 100%;
}
.login-form{
  width: 100%;
  padding: 50px;
  border-radius: 10px;
}
.login-header{
  flex: 0 0 auto;
}
.login-content{
  flex: 1 0 auto;
}
.login-footer{
  flex: 0 0 auto;
  min-height: 64px;
  background-color: mat-color($primary);
  padding: 0 16px;
  color: white;
}
